 @import url('https://fonts.googleapis.com/css2?family=Clicker+Script:wght@400&display=swap');

:root{

    --bg-black-900:#f2f2fc;
    --bg-black-100:#fdf9ff;
    --bg-black-50:#e8dfec;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;

}

body{
    line-height: 1.5;
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box ;

}
::before,::after{

    box-sizing: border-box;

}

ul{
    list-style: none;
}
.section{
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1.5;

}
.hidden{
    display: none !important;
}
.main-content{
    padding-left: 300px;
}
.padd-15{
    padding-left: 15px;
    padding-right: 15px;
}
.container{
    max-width: 1100px;
    width: 100%;
    margin: auto;
}
.section .container{
    padding-top: 60px;
    padding-bottom: 70px;
}
.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}
.section-title h2{
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}
.section-title h2::before{
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}
.section-title h2::after{
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}
.row{
    display:flex ;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}
.aside{
    width: 300px;
    background: var(--bg-black-100);
    position: fixed;
    padding: 30px;
    border-right: 1px solid var(--bg-black-50);
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aside footer {
    z-index: -1;
	position: absolute;
    padding-top: 600px;
	height: 30px;
    width: 100%;
}

.aside p.copyright {
    z-index: -1;
	position:   absolute; ;
	width: 100%;
    color: var(--text-black-700);
    margin-top: auto;
    line-height: 40px;
    font-size: 0.7em;
	text-align: center;
	bottom:0;
}
.aside .logo{
    position: absolute;
    top: 200px;
    font-size: 30px;
    text-transform: capitalize;
}
.aside .logo a{
    color: var(--text-black-900);
    font-size: 700;
    padding: 10px;
    letter-spacing: 1px;
    position: relative;
}
.aside .logo a::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;
}
.aside .logo a::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 0;
    right: 0;
}

.aside .nav-toggler{
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    align-items: center;
    justify-content: center;
}
.aside .nav-toggler span{
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}
.aside.nav-toggler span::before{
    content : '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;
}
.aside.nav-toggler span::after{
    content : '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
}
.aside .nav{
    margin-top: 100px;
    display: block;
}
.aside .nav li{
    margin-bottom: 10px;
}
.aside .nav li a{
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: 5px 15px;
    pointer-events: auto;
}
.aside .navbar li a.active{
    color: var(--skin-color)
}
.aside .nav li a i{
    margin-right: 15px;
}
.aside .home-image img{
    z-index: -10;
    height:150px;
    display: flexbox;
    position:absolute; 
    top:50px; right:80px;
    border-radius: 50%;
}
.home{
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}
.home .home-info{
    flex: 0 0 70%;
    max-width: 80%;
}
h3.hello{
    font-size: 28px;
    margin: 15px 0;
}
h3.my-profession{
    font-size: 30px;
    margin: 15px 0;
}
.home-info p{
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-black-700);
}

 About 

.about .about-content{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .about-text{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .about-text h3{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}
.about .about-content .about-text p{
    font-size: 20px;
    line-height: 25px;
    color: var(--text-black-700);
}
 Achievements


 Contact 



Projects 
.project .project-heading{
    flex: 0 0 100%;
    max-width: 100%;    

}
.project .project-heading h2{

    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 500;
    color: var(--text-black-900);
}
.project .project-item{
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 30px;
}
.project .project-item p{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
}
.contacts .contact-info-item a{
    color: var(--text-black-900);
}
.contacts .row ul li {
    margin-bottom: 15px;
}
.contacts .row i{
    padding: 5px;
}
.contacts .row span{
    padding-bottom: 5px;
}
.contacts .contact-info-item .fa-solid{
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 28px;
}
.contacts .contact-info-item .fa-brands{
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 28px;
}
.contacts .contact-info-item span{
    color: var(--text-black-700);
}
.contacts .contact-form{
    flex: 0 0 100%;
    max-width: 100%;
}
.contacts .contact-form .col-6{
    flex: 0 0 50%;
    max-width: 50%;
}
.contacts .contact-form .col-12{
    flex: 0 0 100%;
    max-width: 100%;
}
.contacts .contact-form .form-item{
    margin-bottom: 30px;
}
.contacts .contact-form .form-item .form-control{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    padding: 10px 25px;
    font-size: 16px;
    color: var(--text-black-700);
    transition: all 0.3s ease;
}
.contacts .contact-form .form-item .form-control:focus{
    box-shadow: 0 0 20px;
}
.contacts .contact-form .form-item textarea.form-control{
    height: 140px;

}
.contacts .contact .btn{
    height: 50px;
    padding: 0 50px;
}
.contacts .container .icons .row{

    display: flex;
    justify-content: center;
}
.contact-title{
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
}
.contact-sub-title{
    color: var(--text-black-700);
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
}
.achievements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjust spacing between items */
}
.achievements .container{
    padding-bottom: 40px;

}
.achievements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Individual achievement item */
.achievement-item {
    flex: 0 0 calc(32% - 20px); /* Adjust width for three items per row with spacing */
    max-width: calc(32% - 20px); /* Adjust max-width for three items per row with spacing */
    margin-bottom: 30px;
    box-sizing: border-box; /* Include padding and border in item width */
}

/* Achievement item inner container */
.achievement-item-inner {
    border: 6px solid var(--text-black-100);
    border-radius: 10px;
    overflow: hidden; /* Ensure content stays within boundaries */
}

/* Achievement item image */
.achievement-item-inner img {
    width: 100%; /* Image fills its container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure proper block-level display */
    object-fit: cover; /* Maintain aspect ratio and fit within container */
    border-radius: 10px; /* Apply border radius to image */
    cursor: pointer;
}
/* Style for zoomable images */
.zoomable-image {
    width: 80%; /* Image fills its container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure proper block-level display */
    cursor: pointer; /* Show pointer cursor on hover */
    transition: transform 0.3s ease; /* Smooth transition for zoom effect */
}

/* Zoom effect when image is clicked */
.zoomed-in {
    position: fixed;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%) scale(0.6); /* Scale up and center image */
    max-width: 100%; /* Limit maximum width to 90% of viewport width */
    max-height: auto; /* Limit maximum height to 90% of viewport height */
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.9);
}
@media(max-height:650px){
    .aside .home-image img{
        display: none;
    }
    .aside .logo{
        top: 100px;
    }
    
}